# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Exclusiones clave para Maven Multi-Modulo
**/target/
!/.mvn/wrapper/maven-wrapper.jar

# Entornos de desarrollo (VS Code, IntelliJ, Eclipse)
.idea/
.vscode/
*.iml
*.project
*.classpath
*.prefs

# Archivos del Sistema Operativo
Thumbs.db
.DS_Store